@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Press+Start+2P&display=swap');

* {
    font-family: "Press Start 2P", system-ui;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ol {
    margin-left: 20px;
}

ul {
    margin-left: 30px;
}

button {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    width: 280px;
    text-transform: uppercase;
}

body {
    align-items: center;
    background-image: linear-gradient(to bottom, #FFA049, #FF4F63);
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1152px;
}

.base {
    background-image: linear-gradient(to top, #FFA049, #FF4F63);
    border: 10px solid black;
    border-radius: 20px;
    padding: 30px;
}

/* MAIN MENU PAGE */
.menu {
    align-items: center;
    display: flex;
    gap: 40px;
    margin-bottom: 220px;
}

.menu h1 {
    font-size: 100px;
    text-transform: uppercase;
}

.menu label {
    display: block;
    text-transform: capitalize;
}

.menu input {
    background: #AFB3AF;
    border: none;
    border-radius: 5px;
    margin: 10px 0 30px 0;
    padding: 10px;
    width: 376px;
}

.menu button {
    display: block;
}

.bg-cards {
    bottom: -200px;
    position: absolute;
}

/* RULES PAGE */
.rules h1 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.rules h2 {
    font-size: 20px;
    margin: 30px 0;
    text-align: center;
    text-transform: uppercase;
}

.rules p,
.rules li {
    font-family: "Poppins", sans-serif;
    text-align: justify;
}

.rules .buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* CARDS PAGE */
.cards h1 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.cards .desc {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cards img {
    height: 500px;
}

.cards button {
    display: block;
}