@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Press+Start+2P&display=swap');

* {
    font-family: "Press Start 2P", system-ui;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ol {
    margin-left: 20px;
}

ul {
    margin-left: 30px;
}

button {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    width: 280px;
    text-transform: uppercase;
}

body {
    align-items: center;
    background-image: linear-gradient(to bottom, #FFA049, #FF4F63);
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1152px;
    margin: auto;
}

.base {
    background-image: linear-gradient(to top, #FFA049, #FF4F63);
    border: 10px solid black;
    border-radius: 20px;
    padding: 30px;
}

/* MAIN MENU PAGE */
.menu {
    align-items: center;
    display: flex;
    gap: 40px;
    margin-bottom: 220px;
}

.menu h1 {
    font-size: 100px;
    text-transform: uppercase;
}

.menu label {
    display: block;
    text-transform: capitalize;
}

.menu input {
    background: #F0F0F0;
    border: none;
    border-radius: 5px;
    margin: 10px 0 30px 0;
    padding: 10px;
    width: 376px;
}

.menu button {
    display: block;
}

.bg-cards {
    bottom: -200px;
    position: absolute;
}

/* RULES PAGE */
.rules h1 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.rules h2 {
    font-size: 20px;
    margin: 30px 0;
    text-align: center;
    text-transform: uppercase;
}

.rules p,
.rules li {
    font-family: "Poppins", sans-serif;
    text-align: justify;
}

.rules .buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* CARDS PAGE */
.cards h1 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.cards .desc {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cards img {
    height: 500px;
}

.cards button {
    display: block;
}

/* GAMEPLAY PAGE */
.ai-container {
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
}

.ai-container {
    background: #FF4F63;
    border-bottom: 9px solid black;
}

.player-container {
    background: #FC9E48;
    border-top: 9px solid black;
    width: 100%;
}

.game-container {
    width: 100%;
}

.ai-container .container,
.player-container .container {
    padding: 20px;
    position: relative;
}

.game-container .container {
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.ai-container .name,
.player-container .name {
    font-size: 30px;
    position: absolute;
}

.player-container .name {
    bottom: 0;
    right: 0;
    margin: 20px;
    max-width: 200px;
    text-align: right;
}

.health-points {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5px 0 20px 0;
}

.health-points p,
.game-container .gameplay p {
    font-size: 30px;
}

.progress {
    accent-color: #FF5733;
    width: 300px;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 5px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.progress::-webkit-progress-value {
    background-color: #FF5733;
}

.progress::-webkit-progress-bar {
    background-color: #f0f0f0;
}

.progress::-moz-progress-bar {
    background-color: #FF5733;
}

.ai-container .card-back,
.player-container .play-cards {
    align-items: center;
    display: flex;
    justify-content: center;
}

.ai-container .card-back img,
.player-container .play-cards img,
.game-container .gameplay img {
    height: 153px;
}

.ai-container .ai-stack,
.player-container .player-stack {
    position: absolute;
    height: 205px;
    margin: 20px;
}

.ai-container .ai-stack {
    top: 0;
    right: 0;
}

.player-container .player-stack {
    bottom: 0;
    left: 0;
}

.player-container .play-cards button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: transparent;
}

.game-container .gameplay {
    display: flex;
    align-items: center;
    gap: 20px;
}

.game-container .actions button {
    display: block;
}

/* MODAL */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modal-content {
    background-image: linear-gradient(to top, #FFA049, #FF4F63);
    padding: 50px 30px;
    border-radius: 20px;
    border: 9px solid black;
    position: relative;
    text-align: center;
    width: 481px;
}

.modal-content h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 1.3;
}

.modal-content button {
    width: 420px;
}

.close {
    position: absolute;
    top: -10px;
    right: 12px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}